<div class="container">
    
    <form class="row g-3" action="/updateDistriDetail" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="idDistri" value=<%= detDistri.id_distri %>>
        <div class="row mt-5">
            <h2>Update Detail Distiributor</h2>
            <div class="col-4">
                <label for="inputNamaToko" class="form-label">Nama Toko</label>
                <% if (detDistri !== null) { %>
                    <input name="namaToko" type="text" class="form-control" id="inputNamaToko" placeholder="exp : PT. Multi Indo" value="<%= detDistri.nama_toko %> " required>
                <% } else { %>
                    <input name="namaToko" type="text" class="form-control" id="inputNamaToko" placeholder="exp : PT. Multi Indo" required>
                <% } %> 

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="inputNama" class="form-label">Nama</label>
                <% if (detDistri !== null) { %>
                    <input name="nama" type="text" class="form-control" id="inputNama" placeholder="exp : John Doe"  value="<%= detDistri.nama %>" required> 
                <% } else { %>
                    <input name="nama" type="text" class="form-control" id="inputNama" placeholder="exp : John Doe" required> 
                <% } %> 
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="inputTelp" class="form-label">Telp</label>
                <% if (detDistri !== null) { %>
                    <input name="telp" type="text" class="form-control" id="inputTelp" placeholder="exp : 082212345678" value="<%= detDistri.telp %> " required>
                <% } else { %>
                    <input name="telp" type="text" class="form-control" id="inputTelp" placeholder="exp : 082212345678" required> 
                <% } %> 
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="inputAlamat" class="form-label">Alamat</label>
                <% if (detDistri !== null) { %>
                    <input name="alamat" type="text" class="form-control" id="inputAlamat" placeholder="exp : Jl. Segar Blok x No.y"  value= "<%= detDistri.alamat %>" required> 
                <% } else { %>
                    <input name="alamat" type="text" class="form-control" id="inputAlamat" placeholder="exp : Jl. Segar Blok x No.y" required> 
                <% } %> 
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="inputStatus" class="form-label">Status</label>
                <select class="form-select" aria-label="Default select example" id="inputStatus" name="status">
                    <option>Select Status</option>
                    <% if (detDistri.status === "open") { %>
                        <option value="open" selected>open</option>  
                        <option value="closed">closed</option>
                    <% } else if (detDistri.status === "closed") { %>
                        <option value="open">open</option>  
                        <option value="closed" selected>closed</option>
                    <% } else {%>
                        <option value="open">Open</option>    
                        <option value="closed">Closed</option>
                    <% } %>
                  </select>
            </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
</div>