<h1>Welcome to List Supplier</h1>

<a href="/addSupp-form" class="btn btn-primary mb-3">Add New Supplier</a>

<p><b>List Supplier:</b></p>

<div class="d-flex flex-row">
    <div class="p-2">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th scope="col-2">No.</th>
                    <th scope="col-3">Nama Toko</th>
                    <th scope="col-3">Nama</th>
                    <th scope="col-3">Telp</th>
                    <th scope="col-3">Alamat</th>
                    <th scope="col-3">Status</th>
                    <th scope="col-3">Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (listSupp.length === 0) { %>
                    <p><i><b>Data is empty</b></i></p>
                    <% }else { %>
                        <% let count = 1 %>
                        <% listSupp.forEach(e => { %>
                            <tr>
                                <input type="hidden" name="idSupp" value="<%= e.id_supp %>">
                                <td scope="row"><%= count %> </td>
                                <td scope="row"><%= e.nama_toko %> </td>
                                <td scope="row"><%= e.nama %> </td>
                                <td scope="row"><%= e.telp %> </td>
                                <td scope="row"><%= e.alamat %> </td>
                                <td scope="row"><%= e.status %> </td>
                                <td scope="row"><a href="/detailSupp/<%= e.id_supp %>/<%= e.nama_toko %>"><button type="button"
                                    class="btn btn-outline-primary">Detail</button></a>
                                </td>
                            </tr>
                            <% count++; %> 
                        <% }) %>
                        <% } %>
            </tbody>
        </table>
    </div>

</div>