<h1>Welcome to List Transaksi</h1>

<a href="/addTrans-form" class="btn btn-primary mb-3">Add New Transaksi</a>

<p><b>List Transaksi:</b></p>

<div class="d-flex flex-row">
    <div class="p-2">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th scope="col-2">No.</th>
                    <th scope="col-2">Tanggal</th>
                    <th scope="col-3">Status</th>
                    <th scope="col-3">Supplier</th>
                    <th scope="col-3">Distributor</th>
                    <th scope="col-3">Employee</th>
                    <th scope="col-3">Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (listTrans.length === 0) { %>
                    <p><i><b>Data is empty</b></i></p>
                    <% }else { %>
                        <% let count = 1 %>
                        <% listTrans.forEach(e => { %>
                            <tr>
                                <input type="hidden" name="idTrans" value="<%= e.id_transaksi %>">
                                <td scope="row"><%= count %> </th>
                                <td scope="row"><%= e.tanggal.getDate() %>-<%= e.tanggal.getMonth() %>-<%= e.tanggal.getFullYear() %> </td>
                                <% if (e.status_transaksi === "in") { %>
                                    <td scope="row" class="text-success"><b>IN</b></td>
                                <% }else if (e.status_transaksi === "out"){ %>
                                    <td scope="row" class="text-danger"><b>OUT</b> </td>
                                <% }else { %>
                                    <td scope="row">-</td>
                                <% } %>  
                                <% if (e.status_transaksi === "in") { %>
                                    <td scope="row"><%= e.namasupp %> </td>
                                    <td scope="row">-</td>
                                <% }else{ %>
                                    <td scope="row">-</td>
                                    <td scope="row"><%= e.namadistri %> </td>
                                <% } %>
                                
                                <td scope="row"><%= e.nama %> </td>
                                <td scope="row"><a href="/detailTransaksi/<%= e.id_transaksi %>"><button type="button"
                                    class="btn btn-outline-primary">detail</button></a>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                        data-bs-target="#modal<%= count %>">
                                        delete
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modal<%= count %>" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Are you sure want to delete # <%= e.id_transaksi %> ?</h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <form action="/deleteTrans" method="post" class="d-inline">
                                                        <input type="hidden" name="idTrans" value="<%= e.id_transaksi %>">
                                                        <button type="submit" class="btn btn-danger">delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% count++; %> 
                        <% }) %>
                        <% } %>
            </tbody>
        </table>
    </div>

</div>